stages:
  - build
  - test
  - push
  - deploy

variables:
  DOCKER_IMAGE_NAME: simple-rest-api
  DOCKER_REGISTRY_USER: $DOCKER_USER
  DOCKER_REGISTRY_PASS: $DOCKER_PASS

build_app:
  stage: build
  image: node:18
  script:
    - npm install
  artifacts:
    paths:
      - node_modules/

run_tests:
  stage: test
  image: node:18
  script:
    - npm test

build_docker_image:
  stage: push
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  before_script:
    - echo "$DOCKER_REGISTRY_PASS" | docker login -u "$DOCKER_REGISTRY_USER" --password-stdin
  script:
    - docker build -t $DOCKER_REGISTRY_USER/$DOCKER_IMAGE_NAME:latest .
    - docker push $DOCKER_REGISTRY_USER/$DOCKER_IMAGE_NAME:latest
  only:
    - main

deploy_to_ec2:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $SERVER_IP >> ~/.ssh/known_hosts
  script:
    - ssh $SERVER_USER@$SERVER_IP "docker pull $DOCKER_REGISTRY_USER/$DOCKER_IMAGE_NAME:latest"
    - ssh $SERVER_USER@$SERVER_IP "docker stop $DOCKER_IMAGE_NAME || true"
    - ssh $SERVER_USER@$SERVER_IP "docker rm $DOCKER_IMAGE_NAME || true"
    - ssh $SERVER_USER@$SERVER_IP "docker run -d --name $DOCKER_IMAGE_NAME -p 80:3000 --restart always $DOCKER_REGISTRY_USER/$DOCKER_IMAGE_NAME:latest"
  only:
    - main
